body{
    font-family: 'Noto Sans TC', sans-serif;
}

.video-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img{
    position: relative;
    width: 100%;
    padding-bottom: 10%;
    overflow: hidden;
}
/* .bg2{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    width: 100%;
} */